<!--Contact page
Name: Hyujin Park
Student ID: 301157840
Date: 2022/10/02
-->
<%- include('partials/header.ejs') %>


<div class="content">

<p> Contact Us </p>

<p div class="contact_email">ca5522397@gmail.com</p>

 
   
    
<form action="https://comp229-2022-assignment.herokuapp.com/home" method="GET">
  <div class="form-floating mb-3">
    <input type="text"name="first_name" class="form-control" id="floatingInput" >
    <label for="floatingInput">First Name</label>
  </div>
    <div class="form-floating mb-3">
    <input type="text"name="last_name" class="form-control" id="floatingInput" >
    <label for="floatingInput">Last Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text"name="email" class="form-control" id="floatingInput" >
    <label for="floatingInput">Email</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text"name="contact" class="form-control" id="floatingInput" >
    <label for="floatingInput">Contact Number</label>
  </div>
  <input class="btn btn-primary" style=background-color:#FE918D  type="submit" value="Submit">
</div>
</form>


    



