<!--Script Section
Name: Hyujin Park
Student ID: 301157840
Date: 2022/10/02
-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src ="/Scripts/app.js"></script>
</body>
</html>